{% extends 'gallery/base.html' %}

{% block title %}
    Photographers
{% endblock %}

{% block content %}
    <table>
        <tr>
            {% for photographer in object_list %}
                <td align="center">
                    <a href="{{ photographer.get_absolute_url }}">
                        <img src="/media/{{ photographer.image }}"><br>
                        {{ photographer.slug }}
                    </a>
                </td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}
